<script type="text/x-handlebars">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">PackonePickone.com</a>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Show Draft
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" id="draftSelector">
                        {{#each draft in drafts}}
                            <li {{action "selectDraft" draft}}>
                                <a class="pointer">
                                    {{draft.name}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                    <div class="help-container">
                        <div id="startHelp" class="start-help help floating-help">
                            <span class="glyphicon glyphicon-arrow-up"></span><br/>Select a draft to start
                        </div>
                    </div>
                </li>
                {{#if viewingDraft}}
                    <li>
                        <div {{bind-attr class=":pointer boosterView::unselected"}} {{action "setView" "booster"}}>
                            Booster View
                        </div>
                    </li>
                    <li>
                        <div {{bind-attr class=":pointer columnView::unselected"}} {{action "setView" "column"}}>
                            Column View
                        </div>
                    </li>
                    <li>
                        <div {{bind-attr class=":pointer playerView::unselected"}} {{action "setView" "player"}}>
                            Player View
                        </div>
                    </li>
                {{/if}}
                {{#if showModeToggler}}
                    <li>
                        <div>
                            <button {{bind-attr class=":btn :btn-game-mode isGameMode:btn-default:btn-success"}} {{action "setGameMode" false}} title="View pick order from competitive drafts. Which cards are the best in the set?">Learn</button>
                            <button {{bind-attr class=":btn :btn-game-mode isGameMode:btn-success:btn-default"}} {{action "setGameMode" true}} title="Face the same picks and dilemmas a pro faced. Can you guess what they picked?">Train</button>
                        </div>
                    </li>
                {{/if}}
            </ul>
            {{#if hasNews}}
                <div class="news-tag">
                    <div class="news-tag-inner pointer" {{action "toggleNewsPopup"}}>
                        New content! Click to see
                    </div>
                    <div {{bind-attr class="showNewsPopup::display-none :news-popup"}}>
                        <ul>
                            {{#each newsLine in latestNews}}
                                <li>
                                    {{newsLine}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/if}}
        </div>
    </nav>
    <div class="container content-container">
        {{outlet}}
    </div>
</script>