<script data-template-name="draft/view" type="text/x-handlebars">
    <h1>
        {{#if url}}
           <a target="_blank" {{bind-attr href=url}}>{{name}}</a>
        {{else}}
            {{name}}
        {{/if}}
    </h1>
    {{#if controllers.application.boosterView}}
        {{partial "boosterView"}}
    {{/if}}
    {{#if controllers.application.columnView}}
        {{partial "columnView"}}
    {{/if}}
    {{#if controllers.application.playerView}}
        {{partial "playerView"}}
    {{/if}}
</script>

<script data-template-name="_columnView" type="text/x-handlebars">
    {{#each pack in packs}}
        <div class="pack-title">
            Pack #{{pack.number}}
        </div>
        <div class="cards-container pack-container">
            {{#each card in pack.cards}}
                {{partial "singleCard"}}
            {{/each}}
        </div>
    {{/each}}
</script>

<script data-template-name="_playerView" type="text/x-handlebars">
    <div class="cards-container pack-container">
        {{#each card in playerPicksOrdered}}
            {{partial "singleCard"}}
        {{/each}}
    </div>
</script>

<script data-template-name="_boosterView" type="text/x-handlebars">

    {{#each booster in boosters}}
        {{#if booster.packNumber}}
            <div class="pack-title">
                Pack #{{booster.packNumber}}
            </div>
        {{/if}}
        <div class="booster-container">
            <div class="booster-title">
                Booster #{{booster.number}}
            </div>
            <div class="cards-container">
                {{#each card in booster.picks}}
                    {{partial "singleCard"}}
                {{/each}}
            </div>
        </div>
    {{/each}}
</script>

<script data-template-name="_singleCard" type="text/x-handlebars">
    <div class="card-container" style="display:inline-block" {{action "cardSelected" card}}>
        <img {{bind-attr class=":card card.playerClass" data-player=card.playerNum src="card.src" title="card.title"}}  width="155px" data-toggle='tooltip'/>
    </div>
</script>