<script data-template-name="draft/game" type="text/x-handlebars">
    {{#unless isGameOver}}
        <h1>Your score: {{score}}</h1>

        <div class="cards-container booster-container">
            {{#each card in selectedBoosterShuffledPicks}}
                {{partial "singleGameCard"}}
            {{/each}}
        </div>

    {{else}}
        <h1>Your final score: {{score}} (got {{correctGuesses}} / 15)</h1>
        <div style="margin-top: 20px;"></div>
        <h2>
            <div class="pointer"  style="text-decoration: underline;" {{action "startGame"}}>
                Try again
            </div>
        </h2>
    {{/unless}}
    <h2>Picked cards</h2>
    <div class="cards-container booster-container picked-cards">
        {{#each card in pickedCards}}
            {{partial "singleGamePreviewCard"}}
        {{/each}}
    </div>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{modalHeader}}
                </div>
                <div class="modal-body">
                    <div class="modal-row">
                        <div>You guessed:</div>
                        <div>The drafter chose:</div>
                    </div>
                    <div class="modal-row">
                        <div>
                            <img {{bind-attr class=":card" src="guessedCard.src"}}  width="155px"/>
                        </div>
                        <div>
                            <img {{bind-attr class=":card" src="correctCard.src"}}  width="155px"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="stat">{{pickPercentage}}% of the people guessed like you did</div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script data-template-name="_singleGameCard" type="text/x-handlebars">
    <div class="card-container" style="display:inline-block" {{action "cardSelected" card}}>
        <img {{bind-attr class=":card" src="card.src"}}  width="155px"/>
    </div>
</script>

<script data-template-name="_singleGamePreviewCard" type="text/x-handlebars">
    <div class="card-container" style="display:inline-block">
        <img {{bind-attr class=":card" src="card.src"}}  width="155px"/>
    </div>
</script>